.button:nth-child(2n + 1) {
  @include respond(mobile) {
    margin: 1rem 0;
  }

  margin: 0 2% 0 0;
}

.button {
  @include respond(mobile) {
    width: 100%;
  }

  outline: none;

  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 49%;
  text-decoration: none;
  padding: 1rem;
  border-radius: 50px;
  border: 0;
  background: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
  color: $color-white;

  background-image: linear-gradient(
    to right,
    rgba(206, 160, 94, 0.9),
    rgba(206, 160, 94, 0.5),
    rgba(206, 160, 94, 0.9)
  );
  box-shadow: 0 4px 15px 0 rgba(206, 160, 94, 0.6);

  &:hover {
    background-position: 100% 0;

    transition: all 0.4s ease-in-out;
  }
}
