.auth {
  .logo {
    margin-bottom: 2rem;
  }

  @include clearfix;

  max-width: $grid-width;

  margin: 0 auto;

  width: 100%;
  height: 90vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__social {
    margin-top: 2rem;
    width: 100%;

    .button {
      background-image: linear-gradient(to right, #fff, #ccc, #fff);
      color: $color-black;
      font-size: 1.1rem;
    }
  }

  &__toggle {
    text-align: center;
    margin: 2rem auto;
    cursor: pointer;
  }
}
